{
	"useTabs": false,
	"tabWidth": 2,
	"svelteStrictMode": true,
	"singleQuote": true,
	"trailingComma": "none",
	"endOfLine": "crlf",
	"svelteBracketNewLine": true,
	"printWidth": 120,
	"plugins": [
		"prettier-plugin-svelte"
	],
	"pluginSearchDirs": [
		"."
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}